
h2 {
  font-size: 30px;
  color: #212222;
  line-height:1.2em;
  font-weight:normal;
  margin-bottom: 22px;
}

h2 span {
  color: #8a8a8a;
}

p{
  font-size: 13px;

}
p a{
  color: #f27f02;
}
p a:hover {
  text-decoration: none;
}
/*gallery -->begin*/

.gallery {
  height: 496px;
  overflow: hidden;
  background: url("../img/gallerry-bg.gif") 0 0 repeat-x
}

.main-gallery {
  width: 1000px;
  position: relative;
  margin: 0 auto;
}

.main-gallery .roundabout-holder {
  width: 850px;
  height: 496px;
  margin: 0 auto;
}

.roundabout-moveable-item {
  width: 646px;
  height: 416px;
  cursor: pointer;
  border:3px solid #ccc;
  border:3px solid rgba(0, 0, 0, 0.08);
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}
.roundabout-moveable-item img{
  width:100%;
}
.roundabout-in-focus {
  border:3px solid rgba(0, 0, 0, 0.2);
}

/*--->end gallery*/

/*main-box-->begin*/
.main-box {
  border-top: 5px solid #eaeaea;
  width: 100%;
  background-color: #FFFFFF;
}

.main-box .container {
  width: 1000px;
  margin: 0 auto;
  min-height: 400px;
}

.main-box .container .inside {
  padding: 32px 37px 50px 37px;
  width: 100%;
  min-height: 400px;
}



.inside .sidebar {
  width: 30%;
  float: left;
}
.inside .sidebar .news li {
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}

.inside .sidebar .news li:last-child {
  padding-bottom: 5px;
}
.sidebar .news li figure {
  /*background: url("../img/date-bg1.gif")no-repeat 0 0;*/
  width: 60px;
  height: 60px;
  margin-left: 0px;
  position: absolute;
  left:0;
  top:0;
  text-align:center;
  border:3px solid #ebebeb;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  font-size:10px;
  color:#fff;
  text-transform:uppercase;
}

.news li figure strong {
  display:block;
  font-size:30px;
  line-height:1.2em;
  margin-bottom:-7px;
  padding-top:4px;
}

.news h3,.news p{
  padding:10px 0 0 85px
}

.news h3 a {
  color: #111111;
  font-size: 14px;
}
.news h3 a:hover {
  text-shadow: 1px 1px 1px #888;
}

/*
.news li:nth-of-type(4n+2) figure {
  background:url(../img/date-bg2.gif) no-repeat 0 0;
}
.news li:nth-of-type(4n+3) figure {
  background:url(../img/date-bg3.gif) no-repeat 0 0;
}
.news li:nth-of-type(4n+4) figure {
  background:url(../img/date-bg4.gif) no-repeat 0 0;
}*/

.news .item1 figure {
  background: url("../img/date-bg1.gif")no-repeat 0 0;
}
.news .item2 figure {
  background: url("../img/date-bg2.gif")no-repeat 0 0;
}
.news .item3 figure {
  background: url("../img/date-bg3.gif")no-repeat 0 0;
}
.news .item4 figure {
  background: url("../img/date-bg4.gif")no-repeat 0 0;
}

/*sidebar-->end*/

/*main-->begin*/
.inside .main {
  width: 63%;
  float: right;
  min-height: 400px;
}

.main h2 {
  font-size: 30px;
}

.main p {
  padding-top: 15px;
}

.main figure {
  margin-left: 0px;
  margin-bottom: 18px;
}

.main figure img {
  border: 3px solid #ebebeb;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}